<style>
    .content {
        font-size: 22px !important;
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
</style>
<section class="content">
    <form action="/pos" autocomplete="off" id="pickup-form" onsubmit="return false;" method="post">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="col-sm-12 col-xs-12" style="margin:0; padding:0;">
                    <div class="col-sm-12 col-xs-12" style="padding:0; margin:0;">
                        <div class="col-sm-10 col-xs-8" style="padding:0; margin:0;">
                            <input type="text" name="Barcode" id="Barcode" class="form-control input-lg" autocomplete="off" placeholder="สแกนบาร์โค้ด หรือ พิมพ์รหัสบาร์โค้ด, รหัสสินค้า, ชื่อสินค้า">
                        </div>
                        <div class="col-sm-2 col-xs-4" style="padding:0; margin:0;">
                            <button type="button" id="BtnSearch" class="btn btn-default bg-white btn-lg waves-effect" style="width:100%;">
                                <i class="fa fa-search"></i> ค้นหา [F2]</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 no-padding" id="cashPanelSale" style="margin-top:10px;">
                    <h4 class="pull-left">
                        <span id="box-count-items-text" class="text-size-25">5</span> รายการ </h4>
                    <div class="pull-right" style="margin-bottom:15px;">
                        <button type="button" id="btn-new-customer-sale" class="btn btn-default bg-white btn-sm" style="font-size: 19px !important;"
                            data-toggle="modal" data-target="#addcustomerModal">
                            <i class="fa fa-user-plus text-aqua" aria-hidden="true"></i> ลูกค้า</button>
                        <button type="button" id="btn-hold-sale" class="btn btn-default bg-white btn-sm" style="font-size: 19px !important;">
                            <i class="fa fa-hourglass-end" aria-hidden="true"></i> พักขาย</button>
                        <button type="button" id="btn-cancel-sale" class="btn btn-default bg-white btn-sm" style="font-size: 19px !important;">
                            <i class="fa fa-ban text-red" aria-hidden="true"></i> ยกเลิก</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="box box-primary direct-chat direct-chat-primary" id="box-saleList">
                        <div id="box-sale-pos-customer" class="box-header with-border" style="padding-left: 10px; padding-right: 10px; display: block;">
                            <input type="hidden" id="hid-customer-id" value="1">
                            <i class="fa fa-user text-muted" aria-hidden="true"></i>
                            <span class="text-green">
                                <b id="box-sale-pos-customer-name">ROENGRIT MOONCHAI</b>
                            </span>
                            <a href="javascript:;" class="text-muted pull-right" id="btn-remove-customer-sale" title="Delete">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="box-body">
                            <div id="box-sale-pos" class="direct-chat-messages product-list-pos" style="height:700px;">
                                <table id="RetData" class="table">
                                    <tbody>
                                        <tr>
                                            <td id="tdclick_pos_sale5" width="7%" class="text-center" valign="middle">
                                                1522001
                                            </td>
                                            <td width="63%" valign="middle">
                                                <span style="cursor:pointer;">ตัวอย่างสินค้า Let's Relax Onsen Thong lor</span>
                                                <span id="cart-option-overstock5" style="color:#FF0000;"></span>
                                            </td>
                                            <td width="5%" class="text-right change-price" valign="middle">
                                                <span>4,180.00</span>
                                            </td>
                                            <td width="15%" class="text-right change-price" valign="middle">
                                                <span>4,180.00</span>
                                            </td>
                                            <td width="5%" class="text-right" style="width:5%;" valign="middle">
                                                <a href="javascript:;" class="delete-sale-item" data-id="7">
                                                    <nobr>&nbsp;
                                                        <i class="fa fa-times" style="color:red;"></i>
                                                    </nobr>
                                                </a>
                                                <input type="hidden" name="sale_product_item[]" value="5" class="sale_product_item">
                                                <input type="hidden" name="sale_product_amount5" id="sale_product_amount5" value="2">
                                                <input type="hidden" name="sale_product_price5" id="sale_product_price5" value="4180">
                                            </td>
                                        </tr>
                                        <tr>
                                                <td id="tdclick_pos_sale5" width="7%" class="text-center" valign="middle">
                                                    1522001
                                                </td>
                                                <td width="63%" valign="middle">
                                                    <span style="cursor:pointer;">ตัวอย่างสินค้า Let's Relax Onsen Thong lor</span>
                                                    <span id="cart-option-overstock5" style="color:#FF0000;"></span>
                                                </td>
                                                <td width="5%" class="text-right change-price" valign="middle">
                                                    <span>4,180.00</span>
                                                </td>
                                                <td width="15%" class="text-right change-price" valign="middle">
                                                    <span>4,180.00</span>
                                                </td>
                                                <td width="5%" class="text-right" style="width:5%;" valign="middle">
                                                    <a href="javascript:;" class="delete-sale-item" data-id="7">
                                                        <nobr>&nbsp;
                                                            <i class="fa fa-times" style="color:red;"></i>
                                                        </nobr>
                                                    </a>
                                                    <input type="hidden" name="sale_product_item[]" value="5" class="sale_product_item">
                                                    <input type="hidden" name="sale_product_amount5" id="sale_product_amount5" value="2">
                                                    <input type="hidden" name="sale_product_price5" id="sale_product_price5" value="4180">
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="box box-primary direct-chat direct-chat-primary" id="box-saleList">
                    <div class="box-footer" style="font-weight:bold;">
                        <span>ยอดรวม</span>
                        <span class="pull-right" id="box-sale-pos-subtotal">147,920.00</span>
                    </div>
                    <div class="box-footer">
                        <span>ส่วนลด</span>
                        <span class="pull-right" id="box-sale-pos-discount" style="cursor:pointer; border:1px solid #CCC; padding: 0px 8px 0px 8px;">0.00</span>
                    </div>
                    <span>
                        <div class="box-footer">
                            <span>ราคาก่อนภาษี</span>
                            <span class="pull-right" id="box-sale-pos-befortax">138,383.18</span>
                        </div>
                        <div class="box-footer">
                            <span class="pull-left">
                                ภาษีมูลค่าเพิ่ม
                                <span id="sale_vat_tax" style="cursor:pointer;">(7.00%)</span>
                                <span id="sale_vat_tax_change" class="input-group" style="display:none; margin-top:5px;">
                                    <input type="text" id="sale_change_tax" name="sale_change_tax" class="form-control input-sm" onkeypress="Sale.onlyNumbersEnter(event)"
                                        maxlength="2" style="width:50px; text-align:center;">
                                    <button type="button" id="btn-sale-change-tax" class="btn btn-primary btn-sm waves-effect">บันทึก</button>
                                </span>
                            </span>
                            <span class="pull-right" id="box-sale-pos-tax">9,686.82</span>
                        </div>
                    </span>
                    <div class="box-footer" style="font-weight:bold; color:#00F;">
                        <span>ยอดรวมสุทธิ</span>
                        <span class="pull-right" id="box-sale-pos-total">148,070.00</span>
                        <input type="hidden" id="hidden-sale-pos-total" value="148070">
                    </div>

                    <div class="box-footer">
                        <div class="col-xs-12" style="padding:0px; margin:0px;">
                            <span class="pull-left">หมายเหตุ</span>
                            <textarea class="form-control pull-right" id="Remark" style="border-radius:0px;   font-weight:bold; width:100%; height:45px; "
                                rows="3" placeholder="หมายเหตุ..."> </textarea>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a   id="PayMoney" data-toggle="modal" data-target="#modal-default" style="height: 58px;font-weight:bold;padding-top:20px;" class="btn btn-success bg-green color-palette btn-block btn-lg no-border waves-effect">
                            <span >จ่ายเงิน</span>
                            <span id="box-sale-pos-pay">[F9]</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-default" tabindex='-1'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">ชำระเงิน [กด Tab เพื่อเลื่อนไปช่องถัดไป]</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">เงินสด</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            F2
                                        </span>
                                        <input type="number" id="CashPayment" name="Payment[0].TotalAmount" tabindex="2" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="เงินสด...." {{if .RetPayCount}} value="{{(index .m.Payment 0).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button tabindex="-1" type="button" onclick="GetAllTotalToCash('CashPayment')" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                                <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 0).PayDate}}
                                        <input type="text" id="CashPayDate" data-date-language="th" name="Payment[0].PayDate" tabindex="2" class="form-control" value='{{date (index .m.Payment 0).PayDate "d-m-Y"}}'
                                            {{.r }} placeholder="วันที่...." /> {{end}} {{else}}
                                        <input type="text" id="CashPayDate" data-date-language="th" name="Payment[0].PayDate" tabindex="2" class="form-control" {{.r}}
                                           value="{{date .CurrentDate "d-m-Y"}}"  placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">เงินโอน</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            F4
                                        </span>
                                        <input type="number" id="TransferPayment" name="Payment[1].TotalAmount" tabindex="2" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="เงินโอน...." {{if .RetPayCount}} value="{{(index .m.Payment 1).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button type="button" tabindex="-1" onclick="GetAllTotalToCash('TransferPayment')" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">ธนาคาร</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-bank"></i>
                                        </span>
                                        <input type="text" id="Payment[1].Remark" name="Payment[1].Remark" tabindex="3" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="ธนาคาร...." {{if .RetPayCount}} value="{{(index .m.Payment 1).Remark}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">เลขที่บัญชี</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-clone"></i>
                                        </span>
                                        <input type="text" id="Payment[1].Number" name="Payment[1].Number" tabindex="4" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="เลขที่บัญชี...." {{if .RetPayCount}} value="{{(index .m.Payment 1).Number}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 1).PayDate}}
                                        <input type="text" id="TransferPayDate" data-date-language="th" name="Payment[1].PayDate" tabindex="5" class="form-control"
                                            {{.r }} value='{{date (index .m.Payment 1).PayDate "d-m-Y"}}' {{.r }} placeholder="วันที่...."
                                        /> {{end}} {{else}}
                                        <input type="text" id="TransferPayDate" data-date-language="th" name="Payment[1].PayDate" tabindex="5" class="form-control"
                                            value="" {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">บัตรเครดิต</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                          F7
                                        </span>
                                        <input type="number" id="CreditPayment" name="Payment[2].TotalAmount" tabindex="6" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="บัตรเครดิต...." {{if .RetPayCount}} value="{{(index .m.Payment 2).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button type="button" tabindex="-1" onclick="GetAllTotalToCash('CreditPayment')" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">ธนาคาร</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-bank"></i>
                                        </span>
                                        <input type="text" id="Payment[2].Remark" name="Payment[2].Remark" tabindex="7" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="ธนาคาร...." {{if .RetPayCount}} value="{{(index .m.Payment 2).Remark}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">บัตรเครดิต</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-credit-card"></i>
                                        </span>

                                        <input type="text" id="Payment[2].Number" name="Payment[2].Number" tabindex="8" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="หมายเลขบัตรเครดิต...." {{if .RetPayCount}} value="{{(index .m.Payment 2).Number}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 2).PayDate}}
                                        <input type="text" id="CreditPayDate" data-date-language="th" name="Payment[2].PayDate" tabindex="9" class="form-control"
                                            {{.r }} value='{{date (index .m.Payment 2).PayDate "d-m-Y"}}' {{.r }} placeholder="วันที่...."
                                        /> {{end}} {{else}}
                                        <input type="text" id="CreditPayDate" data-date-language="th" name="Payment[2].PayDate" tabindex="9" class="form-control"
                                            value="{{date .CurrentDate "d-m-Y"}}" {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">คูปองส่วนลด</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                           F8
                                        </span>
                                        <input type="number" id="CouponPayment" name="Payment[3].TotalAmount" tabindex="10" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="คูปองส่วนลด...." {{if .RetPayCount}} value="{{(index .m.Payment 3).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button type="button" onclick="GetAllTotalToCash('CouponPayment')" tabindex="-1" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">คำอธิบาย</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-file-text-o"></i>
                                        </span>
                                        <input type="text" id="Payment[3].Remark" name="Payment[3].Remark" tabindex="11" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="คำอธิบาย...." {{if .RetPayCount}} value="{{(index .m.Payment 3).Remark}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">รหัส/เลขที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-circle-o"></i>
                                        </span>

                                        <input type="text" id="Payment[3].Number" name="Payment[3].Number" tabindex="12" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="รหัส/เลขที่...." {{if .RetPayCount}} value="{{(index .m.Payment 3).Number}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 3).PayDate}}
                                        <input type="text" id="CouponPayDate" data-date-language="th" name="Payment[3].PayDate" tabindex="13" class="form-control"
                                            {{.r }} value='{{date (index .m.Payment 3).PayDate "d-m-Y"}}' {{.r }} placeholder="วันที่...."
                                        /> {{end}} {{else}}
                                        <input type="text" id="CouponPayDate" data-date-language="th" name="Payment[3].PayDate" tabindex="13" class="form-control"
                                            value="{{date .CurrentDate "d-m-Y"}}" {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">อื่นๆ</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            F9
                                        </span>
                                        <input type="number" id="OtherPayment" name="Payment[4].TotalAmount" tabindex="14" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="อื่นๆ...." {{if .RetPayCount}} value="{{(index .m.Payment 4).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button type="button" onclick="GetAllTotalToCash('OtherPayment')" tabindex="-1" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">คำอธิบาย</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-file-text-o"></i>
                                        </span>
                                        <input type="text" id="Payment[4].Remark" name="Payment[4].Remark" tabindex="15" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="คำอธิบาย...." {{if .RetPayCount}} value="{{(index .m.Payment 4).Remark}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">รหัส/เลขที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-circle-o"></i>
                                        </span>

                                        <input type="text" id="Payment[4].Number" name="Payment[4].Number" tabindex="16" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="รหัส/เลขที่...." {{if .RetPayCount}} value="{{(index .m.Payment 4).Number}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 4).PayDate}}
                                        <input type="text" id="OtherPayDate" data-date-language="th" name="Payment[4].PayDate" tabindex="17" class="form-control"
                                            {{.r }} value='{{date (index .m.Payment 4).PayDate "d-m-Y"}}' {{.r }} placeholder="วันที่...."
                                        /> {{end}} {{else}}
                                        <input type="text" id="OtherPayDate" data-date-language="th" name="Payment[4].PayDate" tabindex="17" class="form-control"
                                            value="{{date .CurrentDate "d-m-Y"}}" {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                    <div class="col-xs-12">
                                            <label for="req-name">รับเงิน</label>
                                            <div class="input-group">
                                                    <input type="number"  name="GetMoney" tabindex="0" id="GetMoney" style="text-align:right" class="form-control input-lg" autocomplete="off" placeholder="รับเงิน">
                                                        <span class="input-group-btn">
                                                          <button type="button" class="btn btn-info btn-lg">พอดี [SPACE]</button>
                                                        </span>
                                                  </div>  

                                            
                                    </div>
                            </div>
                            <div class="form-group req-box-form head">
                                    <div class="col-xs-12">
                                            <label for="req-name">ทอน</label>
                                            <input type="number" style="text-align:right" name="ChangeMoney" id="ChangeMoney" disabled class="form-control input-lg" autocomplete="off" placeholder="ทอน">
                                    </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align:center;">
                            <button type="button" class="btn btn-default" tabindex="20" data-dismiss="modal">ยกเลิก [ESC]</button>
                            <button type="button" class="btn btn-primary" id="submit" tabindex="19">บันทึก [ENTER]</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>
    </form>
</section>