<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <link rel="shortcut icon" type="image/png" href="/static/image/tx.png" />
  <link rel="stylesheet prefetch" href="/static/css/reset.min.css">
  <link rel="stylesheet prefetch" href="/static/css/bootstrap/bootstrap.min.css">
  <style class="cp-pen-styles">
    .invoice {
      width: 970px !important;
      margin: 50px auto;
    }

    .invoice .invoice-header {
      padding: 0px 25px 0px;
    }

    .invoice .invoice-header h1 {
      margin: 0;
    }

    .invoice .invoice-header .media .media-body {
      font-size: .9em;
      margin: 0;
      background-color: #e4e4e4;
    }

    .invoice .invoice-body {
      border-radius: 10px;
      padding: 25px;
      background: #FFF;
    }

    .invoice .invoice-footer {
      padding: 15px;
      margin-left:250px ;
      font-size: 0.9em;
      text-align: center;
      bottom: 30px;
      position: absolute;
    }

    .logo {
      max-height: 70px;
      border-radius: 10px;
    }

    .dl-horizontal {
      margin: 0;
    }

    .dl-horizontal dt {
      float: left;
      width: 80px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .dl-horizontal dd {
      margin-left: 90px;
    }

    .rowamount {
      padding-top: 15px !important;
    }

    .rowtotal {
      font-size: 1.3em;
    }

    .colfix {
      width: 12%;
    }

    .mono {
      font-family: monospace;
    }

    @page {
      margin-left: 0mm;
      margin-right: 0mm;
      margin-top: 0mm;
      margin-bottom: 0mm;
    }

    .panel-default {
      border-color: #ddd!important;
    }

    .panel-default>.panel-heading {
      border-color: #ddd!important;
      background-color: #FFF!important;
    }

    .panel-body {
      padding-left: 2px!important;
    }
  </style>
</head>

<body>
  <div class="container invoice">
    <div class="invoice-header">
      <div class="row">
        <div class="col-xs-8">
          <h1>{{.title}}</h1>
        </div>
        <div class="col-xs-4" style="text-align:right">
          <h4>เลขที่ : {{.m.DocNo}}</h4>
          <h5>วันที่ : {{date .m.DocDate "d-m-Y"}}</h5>
        </div>
      </div>
    </div>
    <div class="invoice-body">
      <div class="row">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">รายละเอียดบริษัท</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>ชื่อ : </dt>
                <dd>
                  <strong>{{.com.Name}}</strong>
                </dd>
                <dt>ที่อยู่ : </dt>
                <dd>{{.com.Address}} </dd>
                <dt>โทร : </dt>
                <dd>{{.com.Tel}}</dd>
                {{if .com.Email}}
                <dt>อีเมล : </dt>
                <dd>{{.com.Email}}</dd>
                {{else}}
                <dt> อีเมล : </dt>
                <dd> - </dd>
                {{end}}
                <div style="padding-top:5px;"> </div>
                {{if .com.TaxNo}}
                <div style="text-align:center"> เลขประจำตัวผู้เสียภาษี : {{.com.TaxNo}} </div>
                {{else}}
                <dt> &nbsp; </dt>
                <dd> &nbsp; </dd>
                {{end}}
                <div style="text-align:center"> {{if eq .com.BranchNo "00000"}} สำนักงานใหญ่ {{else if .com.BranchNo}} สาขา {{.com.BranchNo}} {{if .com.BranchName}}
                  / {{.com.BranchName}} {{end}} {{else}} &nbsp; {{end}} </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">รายละเอียดเจ้าหนี้</h3>
            </div>
            <div class="panel-body">
              <dl class="dl-horizontal">
                <dt>ชื่อ : </dt>
                <dd>
                  <strong>{{.m.MemberName}}</strong>
                </dd>
                {{if .m.Address}}
                <dt>ที่อยู่ : </dt>
                <dd>{{.m.Address}} </dd>
                {{else}}
                <dt> </dt>
                <dd> </dd>
                {{end}}
                <dt>โทร : </dt>
                <dd>{{.m.Tel}}</dd>
                {{if .m.Email}}
                <dt>อีเมล : </dt>
                <dd>{{.m.Email}}</dd>
                {{else}}
                <dt> อีเมล : </dt>
                <dd> - </dd>
                {{end}}
                <div style="padding-top:5px;"> </div>
                {{if .m.TaxNo}}
                <div style="text-align:center"> เลขประจำตัวผู้เสียภาษี : {{.com.TaxNo}}
                </div>
                {{else}}
                <dt> &nbsp; </dt>
                <dd> &nbsp; </dd>
                {{end}}
                <div style="text-align:center">
                  {{if eq .m.BranchNo "00000"}} สำนักงานใหญ่ {{else if .m.BranchNo}} สาขา {{.m.BranchNo}} {{if .m.BranchName}} / {{.m.BranchName}}
                  {{end}} {{else}} &nbsp; {{end}}
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>รายละเอียด</th>
              <th class="text-center colfix">จำนวน</th>
              <th class="text-center colfix">ราคา</th>
              <th class="text-center colfix">ส่วนลด</th>
              <th class="text-center colfix">จำนวนเงิน
              </th>
            </tr>
          </thead>
          <tbody id="RetData">
            {{if .RetCount}} 
              {{range $key, $val := .m.ReceiveSub}}
                <tr>
                  <td>
                    <span class="mono"> {{$val.ProductName}}</span>
                    <br>
                    <small class="text-muted">{{$val.ProductDesc}}</small>
                  </td>
                  <td class="text-right">
                    <span class="mono">{{$val.Qty | ThCommaSeperate}} {{$val.Unit.Name}}</span>
                   
                  </td>
                  <td class="text-right">
                    <span class="mono">{{$val.Price | ThCommaSeperate}}</span>
                  </td>
                  <td class="text-right">
                    <span class="mono">{{$val.DiscountWord | TextThCommaAndPercentSeperate}}</span>

                  </td>
                  <td class="text-right">
                    <strong class="mono">{{$val.TotalPrice | ThCommaSeperate}}</strong>
                  </td>
                </tr>
              {{end}} 
            {{end}}
            <tr id="last_item">
              <td colspan="3" rowspan="4" style="text-align:center;vertical-align:middle" id="thaibaht">

              </td>
              <td class="text-right">
                <span class="mono">ส่วนลด</span>
              </td>
              <td class="text-right">
                <strong class="mono">{{.m.TotalDiscount | ThCommaSeperate}}</strong>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <span class="mono">มูลค่าก่อนภาษี</span>
              </td>
              <td class="text-right">
                <strong class="mono"> {{if.m.TotalAmountExludeVat }} {{.m.TotalAmountExludeVat | ThCommaSeperate}} {{else}} 0.00 {{end}}</strong>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <span class="mono">ภาษีมูลค่าเพิ่ม</span>
              </td>
              <td class="text-right">
                <strong class="mono">{{if.m.VatVal}} {{.m.VatVal | ThCommaSeperate}} {{else}} 0.00 {{end}}</strong>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <span class="mono">มูลค่ารวม</span>
              </td>
              <td class="text-right">
                <strong class="mono">{{if.m.TotalAmount}} {{.m.TotalAmount | ThCommaSeperate}} {{else}} 0.00 {{end}}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">หมายเหตุ</h3>
            </div>
            <div class="panel-body" style="padding-left:10px!important;">
              {{.m.Remark}}
            </div>
          </div>
        </div>
      </div>
      <div class="invoice-footer">
        <div class="row">
          <div class="col-xs-6">
            ................................................
            <br/> ผู้สั่งซื้อ
          </div>
          <div class="col-xs-6">
            ................................................
            <br/> ผู้มีอำนาจลงนาม/อนุมัติ
          </div>
        </div>
      </div>
    </div>
</body>

</html>

<script>
  var getBathText = function (inputNumber) {

    var getText = function (input) {
      var toNumber = input.toString();
      var numbers = toNumber.split('').reverse();

      var numberText = "/หนึ่ง/สอง/สาม/สี่/ห้า/หก/เจ็ด/แปด/เก้า/สิบ".split('/');
      var unitText = "/สิบ/ร้อย/พ้น/หมื่น/แสน/ล้าน".split('/');

      var output = "";
      for (var i = 0; i < numbers.length; i++) {
        var number = parseInt(numbers[i]);
        var text = numberText[number];
        var unit = unitText[i];

        if (number == 0)
          continue;

        if (i == 1 && number == 2) {
          output = "ยี่สิบ" + output;
          continue;
        }

        if (i == 1 && number == 1) {
          output = "สิบ" + output;
          continue;
        }


        output = text + unit + output;
      }

      return output;
    }

    var fullNumber = Math.floor(inputNumber);
    var decimal = inputNumber - fullNumber;

    if (decimal == 0) {

      return getText(fullNumber) + "บาทถ้วน";

    } else {

      // convert decimal into full number, need only 2 digits
      decimal = decimal * 100;
      decimal = Math.round(decimal);

      return getText(fullNumber) + "บาท" + getText(decimal) + "สตางค์";
    }

  };
    document.getElementById("thaibaht").innerHTML = '<h4>' + getBathText('{{.m.TotalAmount}}') + '</h4>';
    window.print();
</script>