@font-face {
    font-family: 'Athiti-ExtraLight';
    src: url('/static/css/fonts/Athiti-ExtraLight.eot');
    src: url('/static/css/fonts/Athiti-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Athiti-ExtraLight.woff2') format('woff2'),
         url('/static/css/fonts/Athiti-ExtraLight.woff') format('woff'),
         url('/static/css/fonts/Athiti-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Athiti-Light';
    src: url('/static/css/fonts/Athiti-Light.eot');
    src: url('/static/css/fonts/Athiti-Light.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Athiti-Light.woff2') format('woff2'),
         url('/static/css/fonts/Athiti-Light.woff') format('woff'),
         url('/static/css/fonts/Athiti-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Athiti-Regular';
    src: url('/static/css/fonts/Athiti-Regular.eot');
    src: url('/static/css/fonts/Athiti-Regular.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Athiti-Regular.woff2') format('woff2'),
         url('/static/css/fonts/Athiti-Regular.woff') format('woff'),
         url('/static/css/fonts/Athiti-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Athiti-Medium';
    src: url('/static/css/fonts/Athiti-Medium.eot');
    src: url('/static/css/fonts/Athiti-Medium.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Athiti-Medium.woff2') format('woff2'),
         url('/static/css/fonts/Athiti-Medium.woff') format('woff'),
         url('/static/css/fonts/Athiti-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Athiti-SemiBold';
    src: url('/static/css/fonts/Athiti-SemiBold.eot');
    src: url('/static/css/fonts/Athiti-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Athiti-SemiBold.woff2') format('woff2'),
         url('/static/css/fonts/Athiti-SemiBold.woff') format('woff'),
         url('/static/css/fonts/Athiti-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Athiti-Bold';
    src: url('/static/css/fonts/Athiti-Bold.eot');
    src: url('/static/css/fonts/Athiti-Bold.eot?#iefix') format('embedded-opentype'),
         url('/static/css/fonts/Athiti-Bold.woff2') format('woff2'),
         url('/static/css/fonts/Athiti-Bold.woff') format('woff'),
         url('/static/css/fonts/Athiti-Bold.ttf') format('truetype');
}

.home-center {
    text-align: center;
}
.home-today-job{
    min-height: 300px;
}
.home-today-table-job
{
    max-height:260px;
}
.icheckbox_square-blue
{
    padding: 2px;
    margin: 2px;    
}
.login-err{
    color:red;
}
.login-success{
    color:green;
}
.search-top{
     margin-bottom:10px; 
}
.label-action{
    cursor: pointer;
}
.load-text {
    background:url('/static/image/wait.png') 
    no-repeat right center;
}
.close-text {
    background:url('/static/image/close.png') 
    no-repeat right center;
    margin-right:2px; 
}
.clear-text {
    background:url('/static/image/close.png') 
    no-repeat right center;
    margin-right:4px; 
}
.check-text {
    background:url('/static/image/check-small.png') 
    no-repeat right center;
    margin-right:2px;
} 
.req-box-form{
    padding-bottom:60px;
}
.req-box-title{
    padding:15px;
}
.drop-search {
    background-color: #f9fafc!important;
    color: black!important;
}
.xs-top-serch{
    padding-left:0px!important;
}
.btn-print{
    background-color: #795548
}
.btn-description{
    background-color:#9C27B0
}
.dropdown-menu>li>a {
    color: black;
}
.col-md-1-table{
    width: 8.33333333%;
    background-color:#E9E9E9!important;
    border-color:#E9E9E9!important;
}
.col-md-2-table{
    width: 16.66666667%;
    background-color:#E9E9E9!important;
    border-color:#E9E9E9!important;
}
.col-md-3-table{
    width: 25%;
    background-color:#E9E9E9!important;
    border-color:#E9E9E9!important;
}
.col-md-4-table{
    width: 33.33333333%;
    background-color:#E9E9E9!important;
    border-color:#E9E9E9!important;
}
.col-md-5-table{
    width: 41.66666667%;
    background-color:#E9E9E9!important;
    border-color:#E9E9E9!important;
}
.col-md-6-table {
    width: 50%;
    background-color:#E9E9E9!important;
    border-color:#E9E9E9!important;
}
.col-md-9-table{
    width: 75%;
    background-color:#E9E9E9!important;
    border-color:#E9E9E9!important;
}

.table-td-mid{ 
    vertical-align: middle; 
    border-top-color:#E9E9E9!important;
}
.table-td-center-text{ 
    text-align: center; 
}
.table-td-number{ 
    text-align: right; 
}

.col-md-overay{
    margin-right: -5px;
}
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    #img-upload{
        width: 150px;
        height: 150px;
    }
    .rigth-menu{
        margin-top: 8px;
        margin-right: 8px;
        margin-bottom: 8px;
        margin-left: 8px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }    

.hr-mini{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}    
.btn-wh-default{
    background-color: #fafafa;
    color: #444;
    border-color: #ddd;
}

.modal-wait {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-wait {
    display: block;
}
.box-footer{
    padding: 10px;
}
 


 