<script>
    function Paging(page) {
        $('#Page').val(page);
        LoadData();
    }
    $('.change-perpage').click(function () {
        $('#PerPage').val($(this).attr("top"));
        if($(this).attr("top")=='0'){
            $('#PerPageLabel').html('ทั้งหมด');
        }else{
            $('#PerPageLabel').html($(this).html());
        }
        LoadData();
    });
    function ReSetForm()
    {
        $('#BtnClear').trigger("click");
        LoadData();
    } 
    function LoadData(){            
            url = $('#ListForm').attr('action');           
            $('#RetData').fadeOut( 100  );
            $.post(url,$('#ListForm').serialize(), function( data ) {
                $('#RetData').html('');
                $('#RetData').append(`
                <tr>
                  <th style="width:150px;">รหัส</th>
                  <th>ชื่อ</th>
                  <th style="width:150px;">บาร์โค้ด</th>
                  <th style="width:115px;text-align:right;">จำนวนคงเหลือ</th>
                  <th style="width:115px;text-align:right;">ต้นทุน</th>
                  <th style="width:115px;text-align:right;">ราคาขาย</th>
                  <th style="width:50px;text-align:center;">สถานะ</th>
                  <th style="width:150px!important;text-align:center">จัดการข้อมูล</th>
                </tr>
                `);
                if(data.ProductList == null){
                    $('#RetCount').html('ไม่มีข้อมูลที่ค้นหา'); 
                    return;
                }
                data.ProductList.forEach(dat => {
                    $('#RetData').append(`
                        <tr>
                        <td>`+ dat.Code + `</td>
                        <td>`+ dat.Name + `</td>
                        <td>`+ dat.Barcode + `</td>
                        <td style="text-align:right;">`+ addCommas(dat.BalanceQty) + `</td>
                        <td style="text-align:right;">`+ addCommas(dat.AverageCost) + `</td>
                        <td style="text-align:right;">`+ addCommas(dat.SalePrice) + `</td>
                        <td>` + (dat.Active ? `<span class="label label-success">เปิดใช้งาน</span>` : `<span class="label label-danger">ปิดใช้งาน</span>`) + `</td>
                        <td style="text-align:center;">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-primary " title="แก้ไข" href="/product/?id=`+ dat.ID + `">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-danger " title="ลบ" onclick='confirmDeleteGlobal(`+dat.ID+`,"/product")' href="javascript:void(0)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                        </tr>
                    `);
                });
                $('#RetCount').html('ค้นเจอทั้งหมด '+data.Page+' รายการ');
                $('#Pagination').html(data.Paging)
                $('#RetData').fadeIn( 100 );
            });
    }
    LoadData();
</script>