<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">กล่องค้นหา</h3>
          <form action="/product/list" id="search-form" style="margin-top:20px;margin-bottom:20px;" onsubmit="return false;" method="post">
            <input type="hidden" name="_xsrf" value="ZM2ldeNUY8bXxRS9L2oQuswvMO61Dr9R">
            <div class="input-group input-group-sm col-xs-6 search-top">
              <input type="text" id="txt-search" name="txt-search" placeholder="ค้นหา" class="form-control">
              <input type="hidden" id="top" value="10" name="top">
              <div class="input-group-btn">
                <button type="button" id="btn-search-clear" class="btn btn-default">
                      <i class="glyphicon glyphicon-remove-circle"></i>
                </button>
                <button type="button" id="btn-search-submit" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
                <button type="button" id="top-search-label" class="btn btn-default">
                  10 รายการ
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a class="change-top" href="#" top="5">5 รายการ</a>
                  </li>
                  <li>
                    <a class="change-top" href="#" top="10">10 รายการ</a>
                  </li>
                  <li>
                    <a class="change-top" href="#" top="50">50 รายการ</a>
                  </li>
                  <li>
                    <a class="change-top" href="#" top="100">100 รายการ</a>
                  </li>
                  <li>
                    <a class="change-top" href="#" top="0"> ทั้งหมด</a>
                  </li>
                </ul>
              </div>
            </div>
          </form>
          <h3 class="box-title">ค้นเจอทั้งหมด 2 รายการ</h3>
        </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ชื่อ</th>
                  <th>จำนวน</th>
                  <th>หมวด</th>
                  <th>สถานะ</th>
                  <th></th>
                </tr>
                <tr>
                  <td>183</td>
                  <td>John Doe</td>
                  <td>11-7-2014</td>
                  <td>
                    <span class="label label-success">Approved</span>
                  </td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>219</td>
                  <td>Alexander Pierce</td>
                  <td>11-7-2014</td>
                  <td>
                    <span class="label label-warning">Pending</span>
                  </td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>657</td>
                  <td>Bob Doe</td>
                  <td>11-7-2014</td>
                  <td>
                    <span class="label label-primary">Approved</span>
                  </td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                <tr>
                  <td>175</td>
                  <td>Mike Doe</td>
                  <td>11-7-2014</td>
                  <td>
                    <span class="label label-danger">Denied</span>
                  </td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
</section>