{{if.r}}
<style>
    .delete-row {
        display: none;
    }
</style>
{{end}}
<style>
    .header-hide {
        display: none;
    }
</style>
<section class="content-header">
    <div id="top-alert" style="display:none">
    </div>
    <h1 id="title-content">
        {{.title}}
    </h1>
</section>

<section class="content">
    <form action="/sale" autocomplete="off" id="sale-form" onsubmit="return false;" method="post">
        {{ .xsrfdata }}
        <input type="hidden" id="currentRow" />
        <input type="hidden" id="MemberID" name="Member.ID" {{if .m.Member.ID}} value="{{.m.Member.ID}}" {{else}} value="2" {{end}}
        />
        <input type="hidden" id="DocNo" name="DocNo" value="{{.m.DocNo}}" />
        <input type="hidden" id="ID" name="ID" value="{{.m.ID}}" />
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1-1" data-toggle="tab" class="head" aria-expanded="true">ขายสินค้า</a>
                </li>
                <li class="">
                    <a href="#tab_2-2" data-toggle="tab" class="head" aria-expanded="false">การชำระเงิน</a>
                </li>
                <li class="">
                    <a href="#tab_3-3" data-toggle="tab" class="head" aria-expanded="false">การจัดส่งสินค้า</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1-1">
                    <div id="box-req">
                        <div class="box-body">
                            <div class="form-group req-box-form head">
                                <div class="col-xs-10">
                                    <label for="req-name">ลูกค้า</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;" onclick="OTC()">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input type="text" id="MemberName" name="MemberName" tabindex="0" class="form-control" autocomplete="off" placeholder="ลูกค้า...."
                                            value="{{.m.MemberName}}" {{.r }} />
                                        <span class="input-group-addon" onclick="headerShow()" style="cursor:pointer;">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <label for="req-name">สถานะ</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-bell-o"></i>
                                        </span>
                                        {{if .m.Active}}
                                             <input type="text" id="Active" tabindex="1" class="form-control" autocomplete="off" value="N" readonly /> 
                                        {{else}}
                                            {{if .m.DocNo}}
                                              <input type="text" id="Active" tabindex="1" class="form-control" autocomplete="off" value="C" readonly /> 
                                            {{else}}
                                              <input type="text" id="Active" tabindex="1" class="form-control" autocomplete="off" value="N" readonly /> 
                                            {{end}} 
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head header-hide">
                                <div class="col-xs-4">
                                    <label for="req-name">เบอร์โทรศัพท์</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input type="text" id="Tel" name="Tel" tabindex="0" class="form-control" autocomplete="off" placeholder="เบอร์โทรศัพท์...."
                                            value="{{.m.Tel}}" {{.r }} />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <label for="req-name">โทรสาร</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-fax"></i>
                                        </span>
                                        <input type="text" id="Fax" name="Fax" tabindex="0" class="form-control" autocomplete="off" placeholder="โทรสาร...." value="{{.m.Fax}}"
                                            {{.r }} />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <label for="req-name">อีเมล</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-envelope-o"></i>
                                        </span>
                                        <input type="text" id="Email" name="Email" tabindex="0" class="form-control" autocomplete="off" placeholder="อีเมล...." value="{{.m.Email}}"
                                            {{.r }} />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head header-hide">
                                <div class="col-xs-6">
                                    <label for="req-name">ที่อยู่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-home"></i>
                                        </span>
                                        <input type="text" id="Address" name="Address" tabindex="0" class="form-control" autocomplete="off" placeholder="ที่อยู่...."
                                            value="{{.m.Address}}" {{.r }} />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="req-name">เลขประจำตัวผู้เสียภาษี</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-ellipsis-h"></i>
                                        </span>
                                        <input type="text" id="TaxNo" name="TaxNo" tabindex="0" class="form-control" autocomplete="off" placeholder="เลขประจำตัวผู้เสียภาษี...."
                                            value="{{.m.TaxNo}}" {{.r }} />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head header-hide">
                                <div class="col-xs-6">
                                    <label for="req-name">เลขที่สาขา</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-book"></i>
                                        </span>
                                        <input type="text" id="BranchNo" name="BranchNo" tabindex="0" class="form-control" autocomplete="off" placeholder="เลขที่สาขา...."
                                            value="{{.m.BranchNo}}" {{.r }} />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="req-name">ชื่อสาขา</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-file-text"></i>
                                        </span>
                                        <input type="text" id="BranchName" name="BranchName" tabindex="0" class="form-control" autocomplete="off" placeholder="ชื่อสาขา...."
                                            value="{{.m.BranchName}}" {{.r }} />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-sn">วันที่ขาย</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .DocDate}}
                                        <input type="text" id="DocDate" data-date-language="th" name="DocDate" tabindex="2" class="form-control" value='{{.m.DocDate}}'
                                            {{.r }} /> {{else}}
                                        <input type="text" id="DocDate" data-date-language="th" name="DocDate" tabindex="2" class="form-control" value='{{date .CurrentDate "d-m-Y"}}'
                                            {{.r }} /> {{end}}

                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-sn">เวลาที่ขาย</label>
                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        {{if .m.DocTime}}
                                        <input type="text" id="DocTime" name="DocTime" class="form-control" value='{{.m.DocTime}}' {{.r }} /> {{else}}
                                        <input type="text" id="DocTime" name="DocTime" class="form-control" value='{{date .CurrentDate "H:i"}}' {{.r }} /> {{end}}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="req-sn">เอกสารอ้างอิง</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa  fa-file-text-o"></i>
                                        </span>
                                        <input type="text" id="DocRefNo" name="DocRefNo" class="form-control" autocomplete="off" value="{{.m.DocRefNo}}" placeholder="เอกสารอ้างอิง"
                                            {{.r }} />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-4">
                                    <label for="req-sn">ช่องทาง</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa  fa-file-text-o"></i>
                                        </span>
                                        <select id="DocType" name="DocType" style="display:none;" class="form-control">
                                            <option value="0" selected="selected"> </option>
                                        </select>
                                        <select id="Channel" name="Channel.ID" class="form-control province">
                                            {{range $key, $val := .Channel}}
                                            <option value="{{$val.ID}}"> {{$val.Name}} </option>
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <label for="req-sn">ประเภทบิล</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa  fa-file-text-o"></i>
                                        </span>
                                        <select id="SaleType" name="SaleType" class="form-control" {{.r }} autocomplete="off">
                                            <option value="0">สด</option>
                                            <option value="1">เชื่อ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <label for="req-sn">ประเภทภาษี</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa  fa-file-text-o"></i>
                                        </span>
                                        <select id="VatType" name="VatType" class="form-control" {{.r }} autocomplete="off">
                                            <option value="0">ไม่มีภาษี</option>
                                            <option value="1">รวมภาษีมูลค่าเพิ่ม</option>
                                            <option value="2">แยกภาษีมูลค่าเพิ่ม</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form">
                                <div class="col-xs-12">
                                    <table class="table" id="ret-table">
                                        <thead>
                                            <tr>
                                                <th class="col-md-2 col-md-2-table">รหัส</th>
                                                <th class="col-md-3 col-md-3-table">รายละเอียด</th>
                                                <th class="col-md-1 col-md-1-table" style="text-align:right;">จำนวน</th>
                                                <th class="col-md-2 col-md-2-table" style="text-align:right;">ราคา:หน่วย</th>
                                                <th class="col-md-1 col-md-1-table" style="text-align:right;">ส่วนลด:หน่วย</th>
                                                <th class="col-md-2 col-md-2-table" style="text-align:right;">รวม</th>
                                                <th class="col-md-1 col-md-1-table" style="width:100%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-bordered table-condensed" id="RetData">
                                            {{if .RetCount}} {{range $key, $val := .m.SaleSub}}
                                            <tr style="cursor: pointer;" index-val="{{$key}}">
                                                <input type="hidden" class="ProductId" name="SaleSub[{{$key}}].Product.ID" value="{{$val.Product.ID}}" />
                                                <input type="hidden" class="ProductCode" name="SaleSub[{{$key}}].Product.Code" value="{{$val.Product.Code}}" />
                                                <input type="hidden" class="ProductName" name="SaleSub[{{$key}}].Product.Name" value="{{$val.ProductName}}" />
                                                <input type="hidden" class="ProductUnitID" name="SaleSub[{{$key}}].Unit.ID" value="{{$val.Unit.ID}}" />
                                                <input type="hidden" class="ProductQty" name="SaleSub[{{$key}}].Qty" value="{{$val.Qty}}" />
                                                <input type="hidden" class="ProductPrice" name="SaleSub[{{$key}}].Price" value="{{$val.Price}}" />
                                                <input type="hidden" class="ProductVatVal" name="SaleSub[{{$key}}].VatVal" value="{{$val.VatVal}}" />
                                                <input type="hidden" class="ProductDiscount" name="SaleSub[{{$key}}].DiscountWord" value="{{$val.DiscountWord}}" />
                                                <input type="hidden" class="ProductDiscountVal" name="SaleSub[{{$key}}].DiscountVal" value="{{$val.DiscountVal}}" />
                                                <input type="hidden" class="ProductTotalPrice" name="SaleSub[{{$key}}].TotalPrice" value="{{$val.TotalPrice}}" />
                                                <input type="hidden" class="ProductTotalPriceExludeVat" name="SaleSub[{{$key}}].TotalPriceExludeVat" value="{{$val.TotalPriceExludeVat}}"
                                                />
                                                <td class="col-md-2 table-td-mid ProductCodeText">{{$val.Product.Code}}</td>
                                                <td class="col-md-3 table-td-mid ProductNameText">{{$val.Product.Name}}</td>
                                                <td class="col-md-1 table-td-mid table-td-number ProductQtyText">{{$val.Qty | ThCommaSeperate }}</td>
                                                <td class="col-md-2 table-td-mid table-td-number ProductPriceText">{{$val.Price | ThCommaSeperate }}</td>
                                                <td class="col-md-1 table-td-mid table-td-number ProductDiscountText">{{$val.DiscountWord | TextThCommaAndPercentSeperate }}</td>
                                                <td class="col-md-2 table-td-mid table-td-number ProductTotalPriceText">{{$val.TotalPrice | ThCommaSeperate }}</td>
                                                <td class="col-md-1 table-td-mid table-td-number">
                                                    <div class="btn-group">
                                                        <a class="btn btn-danger btn-flat btn-flat btn-sm delete-row">
                                                            <i class="fa  fa-close"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{end}} {{end}}
                                        </tbody>
                                        <tfoot class="table-bordered table-condensed ">
                                            <input type="hidden" name="TotalAmount" id="TotalAmount" value="{{.m.TotalAmount}}" />
                                            <input type="hidden" name="TotalDiscount" id="TotalDiscount" value="{{.m.TotalDiscount}}" />
                                            <input type="hidden" name="TotalAmountExludeVat" id="TotalAmountExludeVat" value="{{.m.TotalAmountExludeVat}}" />
                                            <input type="hidden" name="VatVal" id="VatVal" value="{{.m.VatVal}}" />
                                            <tr class="footer">
                                                <th>
                                                    <button type="button" class="btn btn-sm btn-success add-row" {{if.r }} style="display:none;" {{else}} {{end}}>เพิ่ม</button>
                                                </th>
                                                <th colspan="4" style="text-align:right;vertical-align: middle;">
                                                    <div style="display:block;">
                                                        <input type="text" class="form-control" id="DiscountWord" value="{{if.m.DiscountWord}}{{.m.DiscountWord | TextThCommaAndPercentSeperate }}{{else}} {{end}}"
                                                            name="DiscountWord" style="width:130px!important;float:right;margin-left:5px;text-align: right;"
                                                        />
                                                        <div style="padding-top:5px;height: 34px;float:right;">ส่วนลด</div>
                                                    </div>
                                                </th>
                                                <th style="text-align:right;vertical-align: middle;" id="TotalDiscountText">
                                                    {{if.m.TotalDiscount}} {{.m.TotalDiscount | ThCommaSeperate}} {{else}} 0.00 {{end}}
                                                </th>
                                                <th></th>
                                            </tr>
                                            <tr class="footer">
                                                <th colspan="4">
                                                </th>
                                                <th>
                                                    <div style="padding-top:5px;height: 34px;float:right;">มูลค่ารวมก่อนภาษี</div>
                                                </th>
                                                <th style="text-align:right;vertical-align: middle;" id="TotalAmountExcludeVatText">
                                                    {{if.m.TotalAmountExludeVat }} {{.m.TotalAmountExludeVat | ThCommaSeperate}} {{else}} 0.00 {{end}}
                                                </th>
                                                <th></th>
                                            </tr>
                                            <tr class="footer">
                                                <th colspan="4">
                                                </th>
                                                <th>
                                                    <div style="padding-top:5px;height: 34px;float:right;">ภาษีมูลค่าเพิ่ม</div>
                                                </th>
                                                <th style="text-align:right;vertical-align: middle;" id="TotalVatValText">
                                                    {{if.m.VatVal}} {{.m.VatVal | ThCommaSeperate}} {{else}} 0.00 {{end}}
                                                </th>
                                                <th></th>
                                            </tr>
                                            <tr class="footer">
                                                <th colspan="4">
                                                </th>
                                                <th>
                                                    <div style="padding-top:5px;height: 34px;float:right;">มูลค่ารวม</div>
                                                </th>
                                                <th style="text-align:right;vertical-align: middle;" id="TotalAmountText">
                                                    {{if.m.TotalAmount}} {{.m.TotalAmount | ThCommaSeperate}} {{else}} 0.00 {{end}}
                                                </th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group req-box-form">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>หมายเหตุ</label>
                                        <textarea class="form-control" id="Remark" name="Remark" rows="4" placeholder="หมายเหตุ" {{.r }}>{{.m.Remark}}</textarea>
                                    </div>
                                </div>
                            </div>
                            {{if not .m.Active}} {{if .m.DocNo}}
                            <div class="form-group req-box-form">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>หมายเหตุการยกเลิก</label>
                                        <textarea class="form-control" id="CancelRemark" name="CancelRemark" rows="4" placeholder="หมายเหตุ" {{.r }}>{{.m.CancelRemark}}</textarea>
                                    </div>
                                </div>
                            </div>
                            {{end}} {{end}}
                        </div>
                        <div class="box-footer">
                            {{if .r}} {{else}}
                            <button type="submit" onclick="Save()" class="btn btn-primary pull-right">บันทึก</button>
                            {{end}} {{if .m.DocNo}}
                            <a href="/sale/print/?id={{.m.ID}}&po=1" target="_blank" class="btn btn-default pull-right" style="margin-right:5px;">พิมพ์</a>
                            {{end}}
                            <a href="/sale/list" style="margin-top:7px;margin-right:5px" class="pull-right">
                                <<<ย้อนกลับ</a>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2-2">
                    <div id="box-req">
                        <div class="box-body">
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่เครดิต(กรณีเงินเชื่อ)</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .CreditDate}}
                                        <input type="text" id="CreditDate" data-date-language="th" name="CreditDate" tabindex="2" class="form-control" value='{{.m.CreditDate}}'
                                            {{.r }} placeholder="วันที่...." /> {{else}}
                                        <input type="text" id="CreditDate" data-date-language="th" name="CreditDate" tabindex="2" class="form-control" value='{{date .CurrentDate "d-m-Y"}}'
                                            {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">เงินสด</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input type="number" id="CashPayment" name="Payment[0].TotalAmount" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="เงินสด...." {{if .RetPayCount}} value="{{(index .m.Payment 0).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button type="button" onclick="GetAllTotalToCash('CashPayment')" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 0).PayDate}}
                                        <input type="text" id="CashPayDate" data-date-language="th" name="Payment[0].PayDate" tabindex="2" class="form-control" value='{{date (index .m.Payment 0).PayDate "d-m-Y"}}'
                                            {{.r }} placeholder="วันที่...." /> {{end}} {{else}}
                                        <input type="text" id="CashPayDate" data-date-language="th" name="Payment[0].PayDate" tabindex="2" class="form-control" {{.r}}
                                            placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">เงินโอน</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input type="number" id="TransferPayment" name="Payment[1].TotalAmount" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="เงินโอน...." {{if .RetPayCount}} value="{{(index .m.Payment 1).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button type="button" onclick="GetAllTotalToCash('TransferPayment')" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">ธนาคาร</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-bank"></i>
                                        </span>
                                        <input type="text" id="Payment[1].Remark" name="Payment[1].Remark" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="ธนาคาร...." {{if .RetPayCount}} value="{{(index .m.Payment 1).Remark}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">เลขที่บัญชี</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-clone"></i>
                                        </span>
                                        <input type="text" id="Payment[1].Number" name="Payment[1].Number" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="เลขที่บัญชี...." {{if .RetPayCount}} value="{{(index .m.Payment 1).Number}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 1).PayDate}}
                                        <input type="text" id="TransferPayDate" data-date-language="th" name="Payment[1].PayDate" tabindex="2" class="form-control"
                                            {{.r }} value='{{date (index .m.Payment 1).PayDate "d-m-Y"}}' {{.r }} placeholder="วันที่...."
                                        /> {{end}} {{else}}
                                        <input type="text" id="TransferPayDate" data-date-language="th" name="Payment[1].PayDate" tabindex="2" class="form-control"
                                            value="" {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">บัตรเครดิต</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input type="number" id="CreditPayment" name="Payment[2].TotalAmount" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="บัตรเครดิต...." {{if .RetPayCount}} value="{{(index .m.Payment 2).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button type="button" onclick="GetAllTotalToCash('CreditPayment')" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">ธนาคาร</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-bank"></i>
                                        </span>
                                        <input type="text" id="Payment[2].Remark" name="Payment[2].Remark" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="ธนาคาร...." {{if .RetPayCount}} value="{{(index .m.Payment 2).Remark}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">บัตรเครดิต</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-credit-card"></i>
                                        </span>

                                        <input type="text" id="Payment[2].Number" name="Payment[2].Number" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="หมายเลขบัตรเครดิต...." {{if .RetPayCount}} value="{{(index .m.Payment 2).Number}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 2).PayDate}}
                                        <input type="text" id="CreditPayDate" data-date-language="th" name="Payment[2].PayDate" tabindex="2" class="form-control"
                                            {{.r }} value='{{date (index .m.Payment 2).PayDate "d-m-Y"}}' {{.r }} placeholder="วันที่...."
                                        /> {{end}} {{else}}
                                        <input type="text" id="CreditPayDate" data-date-language="th" name="Payment[2].PayDate" tabindex="2" class="form-control"
                                            value="" {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">คูปองส่วนลด</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input type="number" id="CouponPayment" name="Payment[3].TotalAmount" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="คูปองส่วนลด...." {{if .RetPayCount}} value="{{(index .m.Payment 3).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button type="button" onclick="GetAllTotalToCash('CouponPayment')" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">คำอธิบาย</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-file-text-o"></i>
                                        </span>
                                        <input type="text" id="Payment[3].Remark" name="Payment[3].Remark" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="คำอธิบาย...." {{if .RetPayCount}} value="{{(index .m.Payment 3).Remark}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">รหัส/เลขที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-circle-o"></i>
                                        </span>

                                        <input type="text" id="Payment[3].Number" name="Payment[3].Number" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="รหัส/เลขที่...." {{if .RetPayCount}} value="{{(index .m.Payment 3).Number}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 3).PayDate}}
                                        <input type="text" id="CouponPayDate" data-date-language="th" name="Payment[3].PayDate" tabindex="2" class="form-control"
                                            {{.r }} value='{{date (index .m.Payment 3).PayDate "d-m-Y"}}' {{.r }} placeholder="วันที่...."
                                        /> {{end}} {{else}}
                                        <input type="text" id="CouponPayDate" data-date-language="th" name="Payment[3].PayDate" tabindex="2" class="form-control"
                                            value="" {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form head">
                                <div class="col-xs-3">
                                    <label for="req-name">อื่นๆ</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input type="number" id="OtherPayment" name="Payment[4].TotalAmount" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="อื่นๆ...." {{if .RetPayCount}} value="{{(index .m.Payment 4).TotalAmount}}"
                                            {{end}} />
                                        <span class="input-group-btn " style="cursor:pointer;">
                                            <button type="button" onclick="GetAllTotalToCash('OtherPayment')" class="btn btn-success btn-flat">พอดี</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">คำอธิบาย</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-file-text-o"></i>
                                        </span>
                                        <input type="text" id="Payment[4].Remark" name="Payment[4].Remark" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="คำอธิบาย...." {{if .RetPayCount}} value="{{(index .m.Payment 4).Remark}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">รหัส/เลขที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa  fa-circle-o"></i>
                                        </span>

                                        <input type="text" id="Payment[4].Number" name="Payment[4].Number" tabindex="0" class="form-control " autocomplete="off"
                                            {{.r }} placeholder="รหัส/เลขที่...." {{if .RetPayCount}} value="{{(index .m.Payment 4).Number}}"
                                            {{end}} />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .RetPayCount}} {{if (index .m.Payment 4).PayDate}}
                                        <input type="text" id="OtherPayDate" data-date-language="th" name="Payment[4].PayDate" tabindex="2" class="form-control"
                                            {{.r }} value='{{date (index .m.Payment 4).PayDate "d-m-Y"}}' {{.r }} placeholder="วันที่...."
                                        /> {{end}} {{else}}
                                        <input type="text" id="OtherPayDate" data-date-language="th" name="Payment[4].PayDate" tabindex="2" class="form-control"
                                            value="" {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="box-footer">
                            <a href="/sale/list" class="btn btn-default" style="margin-right:5px;">ยกเลิก</a>
                            {{if .r}} {{else}}
                            <button type="submit" onclick="Save()" class="btn btn-primary">บันทึก</button>
                            {{end}}
                        </div>
                    </div>
                </div>
                <div class="tab-pane  " id="tab_3-3">
                    <div id="box-req">
                        <div class="box-body">
                            <div class="form-group req-box-form">
                                <div class="col-xs-2">
                                    <label for="req-name">วันที่</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="cursor:pointer;">
                                            <i class="fa fa-calculator"></i>
                                        </span>
                                        {{if .m.SendDate}}
                                        <input type="text" id="SendDate" data-date-language="th" name="SendDate" tabindex="2" class="form-control" value='{{date .m.SendDate "d-m-Y"}}'
                                            {{.r }} placeholder="วันที่...." /> {{else}}
                                        <input type="text" id="SendDate" data-date-language="th" name="SendDate" tabindex="2" class="form-control" value="" {{.r }} placeholder="วันที่...." /> {{end}}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="req-sn">เวลาที่</label>
                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        {{if .m.SendTime}}
                                        <input type="text" id="SendTime" name="SendTime" class="form-control" value='{{.m.SendTime}}' {{.r }} /> {{else}}
                                        <input type="text" id="SendTime" name="SendTime" class="form-control" value='' {{.r }} /> {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group req-box-form">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>หมายเหตุ</label>
                                        <textarea class="form-control" id="SendRemark" name="SendRemark" rows="4" placeholder="หมายเหตุ" {{.r }}>{{.m.SendRemark}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a href="/sale/list" class="btn btn-default" style="margin-right:5px;">ยกเลิก</a>
                            {{if .r}} {{else}}
                            <button type="submit" onclick="Save()" class="btn btn-primary">บันทึก</button>
                            {{end}}
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>

        <div class="col-xs-12" id="editOveray">
            <div class="col-md-2">
                <input type="text" id="code" name="code" class="form-control" autocomplete="off" placeholder="รหัส/ชื่อ">
            </div>
            <div class="col-md-3">
                <input type="text" id="itemName" name="itemName" class="form-control" autocomplete="off" placeholder="รายละเอียด">
                <input type="hidden" tabindex="-1" id="itemId" name="itemId">
                <input type="hidden" tabindex="-1" id="unitId" name="unitId">
                <input type="hidden" tabindex="-1" id="item-balance_cost" name="item-balance_cost">
                <input type="hidden" tabindex="-1" id="item-image_path" name="item-image_path">
                <input type="hidden" tabindex="-1" id="discountVal" name="discountVal">
                <input type="hidden" tabindex="-1" id="totalExcludeVatCal" name="totalExcludeVatCal">
            </div>
            <div class="col-md-2">
                <input type="number" id="qty" name="qty" step="0.01" class="form-control" style="text-align: right;" autocomplete="off" placeholder="จำนวน">
            </div>
            <div class="col-md-2">
                <input type="number" id="price" name="price" step="0.01" class="form-control" style="text-align: right;" autocomplete="off"
                    placeholder="ราคา">
            </div>
            <div class="col-md-2">
                <input type="text" id="discount" name="discount" class="form-control" style="text-align: right;" placeholder="ส่วนลด">
                <button type="button" class="btn btn-success ok-edit-row" id="ok-edit-row" style="display:none;">ตกลง</button>
            </div>
            <div class="col-md-1" id="totalPrice" style="text-align:right;margin-top:8px;">
                0.00
            </div>
        </div>
    </form>
</section>